<h3>What is Vote4Vote?</h3>

<p>

      Vote4Vote is a <a href="https://en.wikipedia.org/wiki/Vote_trading">vote trading
      platform</a> that aims to help Hillary Clinton win critical popular votes in
      highly-contested battleground states.

</p>

<h3>How does it work?</h3>
<p>
  A Democratic voter in a democratically "safe" state, such as California, will be
  matched with an Independent voter in a "swing" state, such as Florida. They will
  pledge to vote for <em>each other's</em> candidate on election day, thus giving
  Hillary Clinton a secured popular vote in a battleground state while also promoting
  the popular vote for the third-party candidate.
</p>

<h3>Is it legal?</h3>
<p>
  Yes, as long as there is no financial or pecuniary incentive involved. Vote4Vote
  is a website that aims to connect two voters in different states and of different
  political parties in order to facilitate the idea and conversation of vote trading.
  It is run strictly on the honor system, and we do not endorse any illegal circumvention
  of voter laws or other illegal types of gerrymandering.
</p>

<h3>Where can I learned more? How can I help?</h3>
<p>
  You can help by signing up for Vote4Vote and spreading the word through a tweet,
  Facebook post, or email. If you know someone
  in a battleground state, let them know about Vote4Vote and remind them to get out to
  their local polling place on November 8th!
</p>

<h3>Additional resources</h3>
<p>
  <ul>
    <li>
      If you're note already registered to vote, some polling places will allow you
      to register at the poll. Find more info at <a href="https://www.voteplz.org/">VotePlz.org</a>
    </li>
    <li>
      Know your voting rights. If <strong>anyone</strong> attempts to prevent you or
      someone you know from voting, call the <a href="http://www.866ourvote.org/">Election Protection Hotline</a>
      at <strong>1-866-OUR-VOTE</strong>. For help in Spanish, call <strong>1-888-VE-Y-VOTA</strong>. For help in
      Chinese, Vietnamese, Korean, Bengali, Hindi, Urdu or Tagalog, call <strong>1-888-API-VOTE</strong>.
    </li>
  </ul>
</p>
